footer{
    clear: both;
    /* background-image: linear-gradient(to bottom, #efefef , #fff); */
    padding: 100px 0;
    border-top: 1px #efefef solid;
    margin-top: auto;
    padding: 10px;
    text-align: center;
}





/* begin menu */
ul.footerMenu {
    margin: 15px 0 20px 0;
    list-style: none;
    padding: 0;
    text-align: center;
}
ul.footerMenu  li {
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
}
ul.footerMenu  a {
    text-decoration: none;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #ccc;
    font-size: 15px;
}
ul.footerMenu  a:hover {
    text-decoration: none;
    color: blue;
}
/* end menu */


/* begin social */
div.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}
div.social a{

}
div.social a img{
    width: 32px;
    height: auto;
}
/* end social */


/* begin contact info */
.address{
    color: #333;
    font-size: 12px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: normal;
}
/* end contact info */